<!DOCTYPE html>
<html lang="es">

<body>
    <div class="container">
        <div class="header">
            <img src="epn-logo.png" alt="Logo EPN" class="logo">
            <h2>ESCUELA POLITÉCNICA NACIONAL</h2>
            <h3>EPN</h3>
        </div>
        <div class="content">
            <video id="video" autoplay></video>
            <button (click)="captureImage()">Capturar Imagen</button>
        </div>
        
    </div>
    <script src="pantalla-analisis.component.ts"></script>
</body>

</html>