@font-face {
    font-family: "WebSymbolsRegulars";
    src: url('assets/fonts/WebSymbols-Regular.otf');
}

.icon {
    font-family: WebSymbolsRegulars;
}

@font-face {
    font-family: "asa";
    src: url('./assets/fonts/Asap-Regular.ttf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "gro";
    src: url('assets/fonts/ground.otf');
    font-weight: normal;
    font-style: normal;
}



@font-face {
    font-family: "oli";
    src: url('./assets/fonts/Olivia.ttf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "qua";

    src: url('assets/fonts/Quastico-d9YYg.otf');
    font-weight: normal;
    font-style: normal;
}


@font-face {
    font-family: "rax";
    src: url('./assets/fonts/RaxiaelDemo.otf');
    font-weight: normal;
    font-style: normal;
}



@font-face {
    font-family: "teko";
    src: url('./assets/fonts/Teko-Regular.ttf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "tit";

    src: url('assets/fonts/TitilliumWeb-Light.ttf');
    font-weight: normal;
    font-style: normal;
}


@font-face {
    font-family: "dem";
    src: url('./assets/fonts/Demo.ttf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "mon";
    src: url('assets/fonts/Montserrat-Regular.ttf');
    font-weight: normal;
    font-style: normal;
}
