* {
    box-sizing: border-box;
    padding: 0;
    font-family: "asa";
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
  
    padding: 10px;
    margin: 0;
    height: 100vh;
    /* Asegura que el body ocupe toda la altura de la pantalla */
}

.container {
    margin-top: 60px;
    margin-right: 100px;
    height: auto;
    width: 500px;
    padding: 30px;
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.258);
    overflow: hidden;
    /* Evita el desbordamiento de contenido fuera del contenedor */
    display: flex;
    flex-direction: column;
    gap: 1px;
    /* Espacio entre los elementos dentro de .container */
}

.file-container {

    display: flex;
    align-items: center;
    /* Alinea verticalmente los elementos en el centro */
    gap: 10px;
    /* Espacio entre la imagen y el campo de archivo */
}


h2 {
    margin: 1px;
    text-align: center;
    font-size: 20px;
    color: #333333;
    font-family: "gro";
    letter-spacing: 2px;

}

form {

    display: flex;
    flex-direction: column;
    gap: 1px;
    
    /* Agrega desplazamiento si el formulario es demasiado largo */
}

.radio-group {
    display: flex;
    justify-content: space-between;
    gap: 1px;
}

.radio-group label {
    flex: 1;
    text-align: left;
    font-size: 11px;
    margin-bottom: 5px;
    cursor: pointer;
}

.radio-group input {
    margin-right: 1px;

}

form label {
    font-family: "asa";
    font-size: 13px;
    display: block;
    margin: 2px;
    margin-top: 5px;
    color: #333333;
    font-weight: bold;
}

form input[type="text"],
form input[type="file"] {
    width: 99%;
    padding: 1px;
    margin: 2px;
    border: 1px solid #cccccc;
    border-radius: 4px;
    font-size: 10px;
    text-transform: uppercase;
}


button {
    width: 100%;
    padding: 2px;
    background-color: #007bff;
    color: #ffffff;
    border: none;
    border-radius: 4px;
    margin: 5px;
    margin-top: 10px;
    font-size: 14px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #0056b3;
}

.error {
    color: red;
    font-size: 12px;
    margin-top: -20px;
    margin-left: 10px;
    margin-bottom: 10px;
    display: contents;
}

.date-container {
    margin-top: 30px;
    margin-right: 20px;
}

.date-controls {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}



.date-button {
    width: auto;
    padding: 5px 20px 10px 20px;
    font-size: 40px;
    cursor: pointer;
    border: 1px solid #ccc;
    background-color: #0000aa;
    color: white;
    border-radius: 55px;
    transition: background-color 0.3s;
}

.date-button:hover {
    background-color: #0000aa;
    transform: scale(1.05);
    box-shadow: 0px 0px 20px rgba(0, 19, 230, 0.8);
}

/* Para tablets */
@media (max-width: 768px) {
    .container {
        width: 90%;
        margin-right: 0;
        padding: 25px;
    }

    h2 {
        font-size: 18px;
    }

    form input[type="text"], form input[type="file"] {
        font-size: 12px;
    }

    button {
        font-size: 13px;
    }

    .date-button {
        font-size: 35px;
    }
}

/* Para laptops y pantallas grandes */
@media (min-width: 1024px) {
    .container {
        width: 50%;
    }

    h2 {
        font-size: 20px;
    }

    .date-button {
        font-size: 40px;
    }
}