<div class="container">
    <h2>Formulario de Registro</h2>
    <form [formGroup]="registroForm" (ngSubmit)="onSubmit()">
        <!-- Foto -->
        <label for="foto">Foto:</label>
        <input type="file" id="foto" formControlName="foto" accept="image/*">
        <div *ngIf="hasError('foto', 'required')" class="error">
            La foto es obligatoria.
        </div>

        <!-- Modo -->
        <label>Modo:</label>
        <div class="radio-group">
            <label>
                <input type="radio" formControlName="modo" value="estudiante"
                    (click)="redirectTo('moduloRegistro', 'estudiante')" checked> Estudiante
            </label>
            <label>
                <input type="radio" formControlName="modo" value="docente"
                    (click)="redirectTo('moduloRegistroDocente', 'docente')"> Docente
            </label>
            <label>
                <input type="radio" formControlName="modo" value="administrativo"
                    (click)="redirectTo('moduloRegistroDocente', 'administrativo')"> Administrativo
            </label>
        </div>
        <div *ngIf="hasError('modo', 'required')" class="error">
            Debe seleccionar un modo.
        </div>

        <!-- Cédula o Pasaporte -->
        <label for="identificacion">Cédula o Pasaporte:</label>
        <input type="text" id="identificacion" formControlName="identificacion">
        <div *ngIf="hasError('identificacion', 'required')" class="error">
            La cédula o pasaporte es obligatorio.
        </div>
        <div *ngIf="hasError('identificacion', 'pattern')" class="error">
            La cédula debe tener exactamente 10 dígitos numéricos.
        </div>

        <!-- Nombres -->
        <label for="nombres">Nombres:</label>
        <input type="text"
        id="nombres"
        formControlName="nombres"
        (keypress)="preventNumberInput($event)" >
        <div *ngIf="hasError('nombres', 'required')" class="error">
            Los nombres son obligatorios.
        </div>
        <div *ngIf="hasError('nombres', 'pattern')" class="error">
            Ingrese dos nombres correctamente separados por un espacio.
        </div>

        <!-- Apellidos -->
        <label for="apellidos">Apellidos:</label>
        <input type="text"
        id="apellidos"
        formControlName="apellidos"
        (keypress)="preventNumberInput($event)" >
        <div *ngIf="hasError('apellidos', 'required')" class="error">
            Los apellidos son obligatorios.
        </div>
        <div *ngIf="hasError('apellidos', 'pattern')" class="error">
            Ingrese dos apellidos correctamente separados por un espacio.
        </div>

        <!-- Número Único -->
        <label for="numeroUnico">Número Único:</label>
        <input type="text"
        id="numeroUnico"
        formControlName="numeroUnico"
        maxlength="9"
        inputmode="numeric"
        pattern="\d*"
        (keypress)="validateNumberInput($event)">
        <div *ngIf="hasError('numeroUnico', 'required')" class="error">
            El número único es obligatorio.
        </div>
        <div *ngIf="hasError('numeroUnico', 'pattern')" class="error">
            El número único debe tener 9 dígitos.
        </div>

        <!-- Unidad Académica -->
        <label for="unidadAcademica">Unidad Académica:</label>
        <input type="text" id="unidadAcademica" formControlName="unidadAcademica">
        <div *ngIf="hasError('unidadAcademica', 'required')" class="error">
            La unidad académica es obligatoria.
        </div>

        <!-- Botón Guardar -->
        <button type="submit">Guardar</button>
    </form>
</div>