<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

</head>
<body>
    <div class="container">
        <div class="header">
            <h2>Módulos</h2>
        </div>
        <div class="modules" (click)="redirectTo('moduloRegistro')">
            <div class="module">
                <div class="icon">📄</div>
                <div class="label">Registro</div>
            </div>
            <div class="module" (click)="redirectTo('moduloListado')">
                <div class="icon">📋</div>
                <div class="label">Listado</div>
            </div>
        </div>
    </div>
</body>
</html>
