/* Elimina márgenes y padding globales */
* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box; 
}

html, body {
    height: 100%; 
    width: 100%;
}

body {
    background-image: url('/assets/imagenes/normal/fondos/EPN/fondo6.png');
    background-size: cover; /* Hace que la imagen cubra toda la pantalla */
    background-repeat: no-repeat; /* Evita que la imagen se repita */
    font-family: 'ground';
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.header {
    position: absolute; /* Permite posicionar el elemento de forma absoluta */
    top: 10px; /* Alinea al borde superior */
    left: 20px; /* Alinea al borde izquierdo */
    display: flex; /* Asegura que los elementos internos se alineen correctamente */
    align-items: center;
    padding: 10px; /* Espaciado interno
    gro oli qua rax teko tit
     */
   
}

.header h1 {
    letter-spacing: 5px; /*  Espaciado entre letras en píxeles*/
    font-family: "teko";
    margin: 0px 6px 15px 8px; 
    padding: 0px 0px 20px 0px ;
    font-size: 30px;
    color: #0a369d;
    display: flex;
    align-items: center;
    
}

.header h2 {

    font-family: "teko";
    letter-spacing: 5px;
    margin-left: 20px; 
    font-size: 90px;
    color: #0a369d;
    position: absolute; /* Permite posicionamiento en relación a su contenedor padre */
    top: 10px; /* Ubicación desde la parte superior */
    left: 1080px; /* Ubicación desde el borde derecho */
    margin: 10px; /* Espaciado opcional */
   
}

.header .logo {
    margin-right: 10px; /* Espaciado entre el logo y el texto */
    height:140px;
    width: 150px; 
}
