/* Reseteo global */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    height: 100%;
    width: 100%;
}

body {
    position: relative;
    margin: 0;
    height: 100vh;
    font-family: 'ground';
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden; /* Evita scroll si el blur afecta los bordes */
}

body::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('/assets/imagenes/normal/fondos/policia/g.png');
    background-size: cover; /* Ajusta para que la imagen ocupe todo el espacio */
    background-position: center;
    background-repeat: no-repeat;
    filter: blur(2px); /* Aplica el efecto de desenfoque */
    z-index: -1; /* Envía la imagen detrás del contenido */
}

/* Estilos principales del encabezado */


/* Responsividad */
