<!DOCTYPE html>
<html lang="es">
    <header class="header">
        <title>SR-PNE</title>
        <img src="assets/imagenes/png/bandera.png" class="logo2">
        <h1>POLICIA NACIONAL DEL ECUADOR</h1>
      </header>
<body>
    <div class="container">
        <div class="modules" (click)="redirectTo('moduloRegistro')">
            <div class="module">
                <img src="assets/imagenes/png/iconos/registro.png"  />
                <div class="label">Registro</div>
            </div>
            <div class="module" (click)="redirectTo('moduloListado')">
                <img src="assets/imagenes/png/iconos/lista-corta.png"  />
                <div class="label">Listado</div>
            </div>
        </div>
    </div>
</body>
</html>
