/* Reset básico */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    color: #333;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;

}

.container {
    font-family: "gro";
    font-size: 25px;
    width: 400px;
    height: 200px;
    background: #edecec28;
    border-radius: 10px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
}


.modules {
    display: flex;
    flex-wrap: wrap; /* Habilita el ajuste de línea */
    justify-content: center;
    gap: 20px; /* Espaciado entre módulos */
   margin: 20px;
}

.module {
    background-color: #0000aa;
    color: #ffffff;
    width: 150px;
    height: 150px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 8px;
    text-align: center;
    cursor: pointer;
    transition: background-color 0.3s;
}

.module:hover {
    background-color: #000083;
}

.label {
    font-size: 14px;
    margin-top: 10px;
}

.module img {
    width: 80px;
    height: 80px;
    border-radius: 10px;
    filter: invert(100);
    transition: filter 0.3s ease;
}

.module img:hover {
    filter: invert(100%);
}

/* Responsiveness */

/* Para pantallas pequeñas (celulares) */
@media (max-width: 600px) {
    .module {
        width: 100px;
        height: 100px;
    }

    .module img {
        width: 60px;
        height: 60px;
    }

    .label {
        font-size: 12px;
    }
}

/* Para tabletas */
@media (min-width: 601px) and (max-width: 900px) {
    .module {
        width: 140px;
        height: 140px;
    }

    .module img {
        width: 100px;
        height: 100px;
    }

    .label {
        font-size: 16px;
    }
}

/* Para laptops y pantallas grandes */
@media (min-width: 901px) {
    .module {
        width: 150px;
        height: 150px;
    }

    .module img {
        width: 120px;
        height: 120px;
    }

    .label {
        font-size: 18px;
    }
}
