<!DOCTYPE html>
<html lang="es">
    <header class="header">
        <title>SR-PNE</title>
        <img src="assets/imagenes/png/bandera.png" class="logo2">
        <h1>POLICIA NACIONAL DEL ECUADOR</h1>
      </header>
<body>
    <div class="container">
        <div class="header">
            <img src="../../../assets/imagenes/png/poli.png" alt="Logo" class="logo">
            <h2>SISTEMA DE RECONOCIMIENTO </h2>
    
        </div>
        <div class="content">
            <video id="video" autoplay></video>
            <button (click)="captureImage()"> <img src="../../../assets/imagenes/png/iconos/camara.png"  width="30px" height="30px" style="  filter: invert(100); margin-right: 10px;">Capturar</button>
        </div>
        
    </div>
    <script src="pantalla-analisis.component.ts"></script>
</body>

</html>